<li class="{{if isCompleted 'completed'}}">
  {{#if isEditing}}
    {{input type="text" class="edit" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
  {{else}}
    {{input type="checkbox" checked=isCompleted class="toggle"}}
    <label {{action "editTodo" on="doubleClick"}}> {{todo.title}}</label><button class="destroy"></button>
  {{/if}}
</li>